@font-face {
    font-family: "iconfont"; /* Project id 2725611 */
    src: url('//at.alicdn.com/t/font_2725611_tbtz3xkkrsn.woff2?t=1628175064133') format('woff2'),
    url('//at.alicdn.com/t/font_2725611_tbtz3xkkrsn.woff?t=1628175064133') format('woff'),
    url('//at.alicdn.com/t/font_2725611_tbtz3xkkrsn.ttf?t=1628175064133') format('truetype');
}

.icon-shiyan:before {
    content: "\e643";
    font-size: 1.06rem !important;
    vertical-align: -0.9px;
}