@font-face {
  font-family: "iconfont"; /* Project id 2725611 */
  src: url('//at.alicdn.com/t/font_2725611_djr9ewzx8el.woff2?t=1629646375331') format('woff2'),
       url('//at.alicdn.com/t/font_2725611_djr9ewzx8el.woff?t=1629646375331') format('woff'),
       url('//at.alicdn.com/t/font_2725611_djr9ewzx8el.ttf?t=1629646375331') format('truetype');
}

.icon-shiyan:before {
  content: "\e642";
  font-size: 1.06rem !important;
  vertical-align: -0.9px;
}

@font-face {
    font-family: "iconfont2"; /* Project id 2761546 */
    src: url('//at.alicdn.com/t/font_2761546_4xlxr49t5l.woff2?t=1629649720956') format('woff2'),
    url('//at.alicdn.com/t/font_2761546_4xlxr49t5l.woff?t=1629649720956') format('woff'),
    url('//at.alicdn.com/t/font_2761546_4xlxr49t5l.ttf?t=1629649720956') format('truetype');
}

.iconfont2 {
    font-family: "iconfont2" !important;
    font-size: 16px;
    line-height: 1;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-listzuhe:before {
    content: "\e71b";
    font-size: 1rem !important;
    vertical-align: -1.7px;
}

.icon-qiehuanyuyan:before {
    content: "\e769";
    font-size: 18px !important;
    vertical-align: -2px;
}

