@font-face {
  font-family: "iconfont"; /* Project id 2725611 */
  src: url('//at.alicdn.com/t/font_2725611_djr9ewzx8el.woff2?t=1629646375331') format('woff2'),
       url('//at.alicdn.com/t/font_2725611_djr9ewzx8el.woff?t=1629646375331') format('woff'),
       url('//at.alicdn.com/t/font_2725611_djr9ewzx8el.ttf?t=1629646375331') format('truetype');
}

.icon-zhongyingwenyuyan:before {
  content: "\e609";
}

.icon-listzuhe:before {
  content: "\e71b";
}

.icon-shiyan:before {
  content: "\e642";
  font-size: 1.06rem !important;
  vertical-align: -0.9px;
}